global:
  scrape_interval: 15s

scrape_configs:
  - job_name: 'prometheus'
    static_configs:
      - targets: ['localhost:9090']
        labels:
          instance: 'Monitoring-Server'

  # -----------------------------------------------------------
  # Node Exporter (System Metrics) - With Friendly Names
  # -----------------------------------------------------------
  - job_name: 'node_exporter'
    static_configs:
{% for host in groups['all'] %}
      - targets: ['{{ hostvars[host].monitoring_ip | default(hostvars[host].ansible_host) }}:9100']
        labels:
          instance: '{{ host }}'  # <--- This forces the name to be 'web1', 'db1', etc.
{% endfor %}

  # -----------------------------------------------------------
  # cAdvisor (Docker Metrics) - With Friendly Names
  # -----------------------------------------------------------
  - job_name: 'cadvisor'
    static_configs:
{% for host in groups['all'] %}
      - targets: ['{{ hostvars[host].monitoring_ip | default(hostvars[host].ansible_host) }}:8080']
        labels:
          instance: '{{ host }}'
{% endfor %}

  # -----------------------------------------------------------
  # Backend App Metrics
  # -----------------------------------------------------------
  - job_name: 'backend'
    metrics_path: /metrics
    static_configs:
{% for host in groups['app'] %}
      - targets: ['{{ hostvars[host].ansible_host }}:8091']
        labels:
          instance: '{{ host }}'
{% endfor %}
